<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElReal"
        tools:targetApi="31">
        <activity
            android:name=".convertidoresSenatilong"
            android:exported="false" />
        <activity
            android:name=".ConvertidoresParalong"
            android:exported="false"
            android:theme="@style/Theme.ElReal" />
        <activity
            android:name=".longitudReal"
            android:exported="false" />
        <activity
            android:name=".longitudess"
            android:exported="false"
            android:theme="@style/Theme.ElReal" />
        <activity
            android:name=".ConvertidorLongitudes"
            android:exported="false"
            android:theme="@style/Theme.ElReal" />
        <activity
            android:name=".ConversorMonedas"
            android:exported="false" />
        <activity
            android:name=".PruebaReal"
            android:exported="false" />
        <activity
            android:name=".Elreal"
            android:exported="false"
            android:theme="@style/Theme.ElReal" />
        <activity
            android:name=".MainActivityPrueba"
            android:exported="false"
            android:theme="@style/Theme.ElReal" />
        <activity
            android:name=".ConversoresActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>